{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block _content %}
  <h1>Delete Game {{ game.id }} | {{ game.name }}</h1>
  <div class="row">
    <div class="col-md-4">
      Warning, you are attempting to delete this game. This action
      cannot be undone. You will loose all data related to the game,
      including posts and DMs. If you are sure that this is what you
      want to do, type the full name of the game below:
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      {{ wtf.quick_form(form) }}
    </div>
  </div>
{% endblock %}
