{% extends "base.html" %}

{% block _styles %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/game.css')}}">
{% endblock %}


{% block title %}{{ game.id }} : {{ game.name }}{% endblock %}

{% block _content %}
  <h1>
    {{ game.name }}
    {% if game.has_player(current_user) %}
      <a href="{{ url_for('game.abandon', gameid=game.id) }}" class="btn btn-warning" style="float: right;">
        Abandon Game
      </a>
    {% elif game.can_edit(current_user) %}
      <a href="{{ url_for('game.edit_game', gameid=game.id) }}" class="btn btn-warning" style="float: right;">
        Edit Game
      </a>
    {% else %}
      <a href="{{ url_for('game.join', gameid=game.id) }}" class="btn btn-warning" style="float: right;">
        Join Game
      </a>
    {% endif %}
  </h1>
  <p class="text-muted">Hosted By: {{ game.owner.username }}</p>
  Players:<ul>
    {% for player in game.players%}
      <li>{{ player.username }}</li>
    {% endfor %}
  </ul>
  Characters:<ul>
    {% for character in game.characters%}
    {% if character.visible %}
      <li>{{ character.name }}</li>
    {% endif %}
    {% endfor %}
  </ul>

  <div id ="log" class="container">
  </div>
  <input type="hidden" id="room-number" name="room-number" value="{{ game.id }}">
{% endblock %}

{% block _scripts %}
  <script src="{{ url_for('static', filename='socketio/socketio-2.3.0.js') }}"></script>
  <script src="{{ url_for('static', filename='js/game_viewer.js') }}"></script>
{% endblock %}
