<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css')}}">
        {% block extracss %} {% endblock %}
    </head>

    <body>
        <div id="navbar">
          <a href="{{ url_for('front.index') }}">Home</a>
          <a href="{{ url_for('game.example') }}">Games</a>
          {% if current_user.is_anonymous %}
            <a href="{{ url_for('auth.login') }}">Log In</a>
          {% else %}
            <a href="{{ url_for('auth.userpage', username=current_user.username) }}">Profile</a>
            <a href="{{ url_for('auth.logout') }}">Log Out</a>
          {% endif %}
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class ="section message">
                <ul>
                    {% for ms in messages %}
                        <li>{{ ms }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endwith %}

        {% block content %} {% endblock %}
        {% block scripts %} {% endblock %}
    </body>
</html>
